@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



@theme {
/* fondo claro, tipo tierra seca */
  --color-earth-background: #f4f1ed;   
/* azul cielo vivo, para botones y links */
  --color-earth-primary: #5dade2;
/* azul profundo, para t칤tulos o bloques destacados */
  --color-earth-secondary: #1e3a5f;
/* arena clara, para resaltar o fondos secundarios */
  --color-earth-accent: #d2b48c;
/* arcilla, para hovers o detalles */
  --color-earth-highlight: #a97457;
/* verde bosque oscuro, para textos principales */


  --color-earth-text: #2e5339;
  --color-earth-poster1: #d8cdb7;
  --color-pruebah1: #2E9CE8;

/* Anja colors */
--color-oil-turqaz: #1c6e83;
--color-oil-azulos: #1a3e55;
--color-oil-petr칩l: #0d1a24;

--color-oil-petrol1:  #132532;  /* un poco m치s claro */
--color-oil-petrol2:  #1a3344;  /* tono medio */
--color-oil-petrol3:  #24475f;  /* m치s luminoso, a칰n sobrio */

--color-oil-verse침: #3f8f1c; 
--color-oil-verdol: #7aaeab;

  /* 游깴 Fuente global */
--font-sans: "Nunito Sans", sans-serif;

}
/* dark { */
/*   --color-earth-background: #1e1e1e; */
/*   --color-earth-primary: #5dade2; */
/*   --color-earth-secondary: #9ec9e2; */
/*   --color-earth-accent: #3e3e3e; */
/*   --color-earth-highlight: #d2b48c; */
/*   --color-earth-text: #f4f1ed; */
/* } */
html {
  scroll-behavior: smooth;
}




/* 游깴 Fuente global */
@layer base {
  /* body { @apply  bg-earth-poster1 font-sans leading-relaxed text-justify;  } */
  body { @apply  bg-oil-petr칩l font-sans leading-relaxed text-justify;  }

  h1 { @apply text-3xl lg:text-4xl font-bold mb-4 text-pruebah1 mt-18; }   /* ~36px */

  h2 { @apply text-2xl lg:text-3xl font-bold mt-18 mb-4 text-earth-primary; } /* ~30px */
  
  h3 { @apply text-xl lg:text-2xl font-semibold mb-3 text-pruebah1 mt-15; } /* ~24px */
  
  h4 { @apply text-xl lg:text-xl font-medium mb-2 text-earth-accent; }       /* ~20px */
  
  /* p { @apply mb-4 text-lg font-medium sm:text-xl lg:text-2xl lg:leading-8 tracking-normal text-oil-azulos;} */
  /* p { @apply text-base sm:text-lg lg:text-xl 2xl:text-2xl  */
           /* font-medium leading-relaxed lg:leading-8  */
           /* tracking-normal mb-4 text-oil-azulos; */
  /* } */
  p { @apply text-base sm:text-lg lg:text-xl 2xl:text-2xl 
           font-medium leading-relaxed lg:leading-8 
           tracking-normal mb-4 text-earth-poster1;
  }


}
